{# This file is part of file-browser.
 #
 # Copyright (C)
 #  2018 Alexander Haase <ahaase@alexhaase.de>
 #
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in
 # all copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 #}

{##
 # Print a single breadcrumb.
 #
 # NOTE: This is an internal macro to be used by `print()`.
 #
 #
 # @param string name   the name of the breadcrumb
 # @param string url    the url of the breadcrumb
 # @param string active wheter this breadcrumb is active or not
 #}
{% macro crumb(name, url, active) %}
  <li class="breadcrumb-item{% if active %} active{% endif %}"{% if active %} aria-current="page"{% endif %}>
    {% if not active %}
      <a href="{{ url }}">{{ name }}</a>
    {% else %}
      {{ name }}
    {% endif %}
  </li>
{% endmacro %}

{##
 # Print the breadcrumbs.
 #
 #
 # @param array breadcrumbs an array of breadcrumbs
 #}
{% macro print(breadcrumbs) %}
  {% import _self as self %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: transparent; padding-left: 29px;">
      {{ self.crumb('Home', '/', (breadcrumbs is empty)) }}
      {% for crumb in breadcrumbs %}
        {{ self.crumb(crumb.name, crumb.path, loop.last) }}
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
